[Unit]
Description=RiderPay API (dev)
After=network.target

[Service]
User=f.cavaliere
WorkingDirectory=/opt/riderpay
ExecStart=/usr/lib/jvm/jre-21-openjdk-21.0.11.0.10-1.0.1.el8.x86_64/bin/java -jar /opt/riderpay/riderpay.jar --spring.profiles.active=local
EnvironmentFile=/opt/riderpay/riderpay.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
